.about-us-container{
    /* padding-top: 100px; */
    text-align: center;
}
.about-us-image{
    height: 45vh;
    border-radius: 10px;
}
.about-us-text{
    color: #0246c4;
}
.about-banner{
    background-image: url(../../assets/images/about-us-banner.jpg);
    height: 50vh;
    background-size: cover;
    color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: 50% 50%;
}

.about-head{
    font-size: 100px;
}

@media all and (max-width: 768px) {
    .about-head{
        font-size: 50px;
    }
    .about-banner{
        height: 30vh
    }
    .mobile-about-us-image{
        display: none;
    }
}